.modal {
  margin: 0;
  padding: 0 19px 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  margin: auto;
  margin-top: 195px;
  padding: 36px;
  background-color: #fff;
  border-radius: 10px;
}

.modal__close {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background: url(../images/Close.svg) transparent center no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 1s ease-in 0s;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__heading {
  margin: 0 0 54px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}

.modal__form {
  width: 358px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__input {
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.modal__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

.modal__button {
  width: 100%;
  height: 50px;
  margin: 18px 0 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  transition: opacity 1s ease-in 0s;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 540px) {
  .modal__container {
    padding: 25px 22px;
    margin-top: 123px;
  }

  .modal__form {
    width: 238px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
  }

  .modal__button {
    height: 46px;
    margin: 15px 0 0;
    font-size: 14px;
  }

  .modal__heading {
    margin: 0 0 75px 0;
    font-size: 18px;
  }
}