.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .footer__text {
    padding-left: 19px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding-top: 0;
    padding-bottom: 36px;
  }
  .footer__text {
    font-size: 14px;
  }
}