.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.3s linear;
  pointer-events: all;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000;
}

.modal__preview-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  background-color: transparent;
  padding: 0;
  color: #fff;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-footer {
  align-self: flex-start;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.modal__close {
  background-image: url(../images/Close.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  padding: 0;
  transition: 0.3s ease-in-out;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 358px;
  font-weight: 400;
}

.modal__input {
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 14px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  width: 100%;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__button {
  font-size: 18px;
  line-height: 22px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  padding: 14px 0 18px 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
  margin-top: 18px;
}

.modal__button:disabled {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  opacity: 0.2;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

.modal__error_visible {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  left: 0;
  position: absolute;
  top: calc(100% + 5px);
  transition: opacity 0.3s ease;
}

.modal__label {
  position: relative;
  margin-bottom: 30px;
}

@media screen and (max-width: 620px) {
  .modal__close {
    width: 26px;
    height: 26px;
    background-image: url(../images/close_mobile.svg);
    bottom: calc(100% + 13px);
    left: calc(100% - 26px);
  }

  #preview-close-button {
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
  }

  .modal__container {
    padding: 25px 22px 25px 22px;
  }

  .modal__preview-container {
    padding: 0;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 75px 0;
  }

  .modal__form {
    width: 238px;
  }

  .modal__input:last-of-type {
    margin-bottom: 45px;
  }

  .modal__button {
    font-size: 14px;
  }
}
